html {
    color: #222;
    line-height: 1.4;
    box-sizing: border-box;
    font-size: 62.5%; /* 10px */
  }

  *, *:before, *:after {
    box-sizing: inherit;
}

  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  textarea {
    resize: vertical;
  }

  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }

  /* ==========================================================================
   Author's custom styles
   ========================================================================== */

   .hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

header {
    display: block;
    justify-content: center;
    background-image: url(../img/Hikers-back.png);
    background-repeat: no-repeat;
    height: 790px;
}

div.inner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px; /* 1024px */
}

div.inner-container > img.logo {
    height: 4.8rem;
    width: 4.8rem;
    /* border: 1px solid red; */
    margin: 0 1.6rem;
}

nav > ul.flex-container {
     border: 1px solid red; 
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    height: 6.6rem;
    background-color: #845a78;
    width: 1280px;
    
}

.menu > li {
    padding: 2.1rem 1.6rem;
    position: relative; 
    white-space: nowrap;
}

.menu > li:hover {
    border-bottom: 4.5px solid #ffffff;
}

.menu li a,
.btn {
    color: #faf5ff;
    text-decoration: none;
    display: block;
}

.btn {
    border: 1px solid #FAF5FF;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
}

.btn:hover {
    background-color: #faf5ff;
    color:#000;
}

/* Step 2: position and hide the dropdown menu */
.dropdown {
    background-image: linear-gradient(0deg, rgba(68,51,122,1) 0%, rgba(107,70,193,1) 100%);
    position: absolute;
    left: 0;
    top: 6.6rem;
    visibility: hidden;
    opacity: 0;
}

.dropdown li {
    display: flex;
    align-items: center;
    position: relative;
    height: 6.6rem;
    padding: 2.1rem 1.6rem;
    border-bottom: 1px solid rgba(255,255,255, 0.5);
}

.dropdown-beside {
    background-image: linear-gradient(0deg, rgba(68,51,122,1) 0%, rgba(107,70,193,1) 100%);
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

   .hidden {
    display: none !important;
  }

  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }

  .invisible {
    visibility: hidden;
  }

  .clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }

  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
    a,
    a:visited {
      text-decoration: underline;
    }
    a[href]:after {
      content: " (" attr(href) ")";
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
    pre {
      white-space: pre-wrap !important;
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  