html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

/* ========================================================================

General Typography Styles

======================================================================== */

p, h6,h5,h4,h3,h2,h1,label,span {
	color: var(--mid-grey);
}
p, h6 {
	font-size: 1.6rem;
	line-height: 2.4rem;
	margin-bottom: 2.4rem;
}

h1 {
	font-size: 3.981rem;
	line-height: 4.8rem;
	margin-bottom: 2.4rem;
}

h2 {
	font-size: 3.318rem;
	line-height: 4.8rem;
	margin-bottom: 2.4rem;
}

h3 {
	font-size: 2.765rem;
	line-height: 4.8rem;
	margin-bottom: 2.4rem;
}

h4 {
	font-size: 2.304rem;
	line-height: 2.4rem;
	margin-bottom: 2.4rem;
}

h5 {
	font-size: 1.92rem;
	line-height: 2.4rem;
	margin-bottom: 2.4rem;
}


/* This is the industry standard way of adding box-sizing to the project. It covers everything, plus Pseudo elements and also allows you to specify other box-sizing methods if you need it for some reason. */

/* ========================================================================*/

body {
	display: flex;
	justify-content: center;
	background-color: darkred ;

}

main {
	display: flex;
	justify-content: center;
	width: 102.4rem;
	background-color: var(--light-grey);

}

form {
	width: 80%;	
	background-color: var(--white);
	padding: 1.6rem;
	margin: 1.6rem;
}

h2 {
	font-family: 'DM Serif Display',sans-serif;
	border-bottom: 8px solid var(--dark-grey);
	width: 100%;
}

h2 > span {
	font-family: 'DM Sans', sans-serif;	
	font-size: 1.6rem;
	line-height: 2.4rem;
	vertical-align: super;
	color: var(--required);
}

.flex-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.personal-info {
	width: calc(50% - 1.6rem);
	margin: 1.6rem 0;
}

label {
	display: block;
	font-size: 1.6rem;
	line-height: 2.4rem;
	margin-bottom: 0.6rem;
}

input[type=text] {
	width: 100%;
	padding: 0.8rem;
}

input[type=text]:required:focus {
	background-color: whitesmoke;
	background-image: 
}

.message {
	width: 100%;
}

textarea {
	width: 100%; 
	height: 15rem;
}

::placeholder {
	color: var(--required);
}

input[type="submit"]{
	background-color: var(--white);
	border: 2px solid var(--valid);
	color: var(--valid);
	font-size: 1.6rem;
	line-height: 2.4rem;
	border-radius: 0.4rem;
	padding: 0.5rem;
	margin-top: 1.6rem;
}

input[type="submit"]:hover, input[type="submit"]:focus {
	transition-duration: 1s;
	background-color: var(--valid);
	color: var(--white);
}

input[type="text"]:required {
	border-bottom: 4px solid var(--required);
	background-image: url(../images/star-circled.svg);
	background-repeat: no-repeat;
	background-position-x: calc(100% - 0.8rem);
}

input[type="text"]:required:focus:invalid {
	border-bottom: 4px solid var(--invalid);
	background-image: url(../images/close-circled.svg);
	background-repeat: no-repeat;
	background-position-x: calc(100% - 0.8rem);
}

input[type="text"]:required:focus:valid {
	border-bottom: 4px solid var(--valid);
	background-image: url(../images/check-circled.svg);
	background-repeat: no-repeat;
	background-position-x: calc(100% - 0.8rem);
}

/*======================================================================== */

/* Starting Variables */

html {
	font-size: 62.5%;
	/* this gives us base font-size of 10px for rem calculations */
	font-family: 'DM Sans', sans-serif;
	
	/* font-family: 'DM Serif Display', serif; */
	/* We will copy and paste this to use for Serif Headings */

	/* Custom Variables */
	--dark-grey: #4E4F51;
	--mid-grey: #686A6D;
	--light-grey: #E8ECEF;
	--white: #F4F7F9;
	--valid: #58C19C;
	--invalid: #D14E4E;
	--required: rgba(101,201,224, 1);
	--required-15: rgba(101,201,224, 0.15);
	--required-50: rgba(101,201,224, 0.5);
}

